.hcontainer {
    background-color: #F5F5F5;
    border: 1px solid #ddd;
    font-family: Arial;
    height: 200px;
}

.vcontainer {
    background-color: #F5F5F5;
    border: 1px solid #ddd;
    font-family: Arial;
    height: 200px;
}

.left:hover, .right:hover, .top:hover, .bottom:hover, .middle:hover {
    background-color: #eee;
}

.left, .right {
    line-height: 12;
    text-align: center;
}

.top, .bottom {
    border-bottom: 1px solid #DDD;
    height: 50px;
    text-align: center;
    width: 100%;
}